<section>
    <div class="bg-mid-gray" style="height: 140px;"><h1 class="text-center text-white padding-top-small">Resources</h1></div>
</section>

<section class="padding-top" id="gecapital">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4"><img src="/img/resources/what-is-erp.svg"></div>
      <div class="col-sm-8">
        <h2 class="text-primary heavy-font">What is an ERP system?</h2>
        <h4 class="section-subheading adjustline">8 out of 10 companies are currently implementing an ERP. Understand what is and why you need an enterprise resource planning software.</h4>
        <div class="text-muted">
          <p>An <a href="http://www.webopedia.com/TERM/E/ERP.html">ERP</a> system is a type of software that “allows an organization to manage business and automate many office functions related to technology, services and human resources”. 8 out of 10 companies are currently implementing an ERP.</p>
          <p>If your company isn’t, you want to take on yourself the task of selecting an ERP and a software provider. You want to make sure your company is keeping up with the competition.</p>
        </div>
      <h2 class="text-primary heavy-font padding-top-small">Do I really need an ERP?</h2>
        <div class="text-muted">
          <p>Keeping up with competitors is a strong argument for buying an ERP. But it is not the only argument.</p>
          <p>We collected statistics that will help you understand why having an integrated software for managing business processes is better than not having one.</p>
        </div>
      <h2 class="text-primary heavy-font padding-top-small">15 stats from the ERP trade</h2>
        <div class="text-muted">
          <p>7 out of 10 companies currently using an ERP system recorded improvements in their day-to-day operations.</p>
          <p>Having information readily available, being able to rely on the retrieved data for making business decisions and being more productive were the most often listed benefits of running an ERP.</p>
          <P>7 out of 10 companies had 3 or more full-time employees involved in the implementation process.</P>
          <p>6 out of 10 companies also recruited external help to implement an ERP.</p>
          <p>Consultants offered support during all steps of the implementation process: from sharing technical and business expertise to planning and managing the ERP implementation.</p>
          <p>There are <a href="https://en.wikipedia.org/wiki/List_of_ERP_software_packages"> over 100 ERP</a> available on the market, including open-source and proprietary software.</p>
          <p>5 out of 10 companies preferred to buy an on-premises ERP.</p>
          <p>2 out of 10 companies choose to buy a cloud-based ERP.</p>
          <p>Costs and concerns about information security were deciding factors in the choice of technology.</p>
          <p>Companies running a cloud ERP spent on average $4,234 per user.</p>
          <p>Companies running an on-premise ERP invested on average $7,285 per user.</p>
          <p>Implementation projects for 51 or more ERP users lasted on average 10,5 months.</p>
          <p>Implementation projects for 10 to 50 ERP users lasted on average 7 months.</p>
          <p>Smaller projects for up to 3 ERP users lasted less than 4 months.</p>
          <p>4 out of 10 companies currently using an ERP recovered the costs of implementing the software within 2 years.</p>
        </div>
    <div class="text-muted padding-top-small">
      <p class="text-small remove-padding">Sources:</p>
      <p>
        <a class="text-small" href="http://www.erpfocus.com/attachment/4449/download/2016-erp-software-project-survey.pdf">http://www.erpfocus.com/attachment/4449/download/2016-erp-software-project-survey.pdf</a>
          <br>
        <a class="text-small" href="http://go.panorama-consulting.com/rs/panoramaconsulting/images/2016-ERP-Report.pdf">http://go.panorama-consulting.com/rs/panoramaconsulting/images/2016-ERP-Report.pdf</a>
      </p>
    </div>
      </div>
    </div>
    <hr>
  </div>
</section>
